https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.1.0/en_core_web_lg-2.1.0.tar.gz
pyyaml==6.0.1
git+https://github.com/openai/CLIP.git
spacy==2.1.0
torch==1.4.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.1.0/en_core_web_lg-2.1.0.tar.gz
torchvision
torchaudio
ipdb
